<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./style/template/profile-card.css" />
  </head>
  <body>
    <section class="profile-card">
      <div class="img-container">
        <img src="./assets/profile picture.png" alt="Profile Picture" />
      </div>
      <h1 class="name">Putu Rizki</h1>
      <p class="job">Full Stack Developer</p>
      <div class="contact-tab">
        <a
          href="https://www.facebook.com/puturizkii.puturizkii?mibextid=ZbWKwL"
        >
          <img src="./assets/Facebook.png" alt="Facebook Logo" />
        </a>
        <a href="https://www.linkedin.com/in/putu-rizki">
          <img src="./assets/Linkedin.png" alt="Linkedin Logo" />
        </a>
        <a href="https://www.instagram.com/puturizkii/">
          <img src="./assets/Twitter.png" alt="Twitter Logo" />
        </a>
        <a href="https://github.com/TurizCode">
          <img src="./assets/Github.png" alt="Github Logo" />
        </a>
      </div>
      <div class="contact-card">
        <div class="phone-card">
          <img src="./assets/Phone.png" alt="Phone Logo" />
          <h2 class="subtittle">Phone</h2>
          <p class="main-co">+6281999982942</p>
        </div>
        <div class="email-card">
          <img src="./assets/Email.png" alt="Email Logo" />
          <h2 class="subtittle">Email</h2>
          <p class="main-co">turizcode@gmail.com</p>
        </div>
        <div class="location-card">
          <img src="./assets/Location.png" alt="Location Logo" />
          <h2 class="subtittle">Location</h2>
          <p class="main-co">Indonesia, Bali</p>
        </div>
        <div class="btn-download">
          <button class="btn btn-cv">
            <a href="./document/CV - Putu Rizki Eka Wibawa.pdf">
              <span>
                <img src="./assets/Vector donwload.png" width="12px" alt="" />
              </span>
              Download Resume
            </a>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
