<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./style/template/navbar/navbar-contact.css" />
  </head>
  <body>
    <div class="nav-bar">
      <div class="home">
        <a href="./index.html">
          <img src="./assets/Home icon.png" alt="Home Icon" />
        </a>
      </div>
      <div class="resume">
        <a href="./resume.html">
          <img src="./assets/resume icon.png" alt="Resume Icon" />
        </a>
      </div>
      <div class="contact">
        <a href="./contact.html">
          <img src="./assets/vektor contact putih.png" alt="Contact Icon" />
        </a>
      </div>
    </div>
  </body>
</html>
